.product-image-container {
    min-width: 680px;
    max-width: 680px;
    min-height: 680px;
    max-height: 680px;
    display: flex;
    align-items: center;
    justify-content: center;
}

img.product-image {
    max-height: 680px;
    max-width: 680px;
    border-radius: 4px;
    margin: 16px;
}