.product-sell-info {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    margin-right: 32px;
}

.product-condition-ammount {
    font-size: 14px;
    margin: 32px 0 16px 0;
}

.product-title {
    font-size: 24px;
    font-weight: bold;
}

.product-price {
    font-size: 46px;
    font-weight: 400;
    margin: 32px 0;
}

button.buy-button {
    font-size: 16px;
    font-weight: 200;
    border-radius: 4px;
    background-color: #3483FA;
    color: white;
    border: none;
    height: 45px;

    &:hover {
        background-color: #0c54c0
    }
}