.product-container {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.product-preview {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}